<style>
    body {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[id="username"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[id="password"] {
        margin-bottom: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin input[id="password-again"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>
<div ng-controller="RegisterController">
    <form class="form-signin">
        <label for="username" class="sr-only">Email address</label>
        <input type="username" ng-model="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" ng-model="password" id="password" class="form-control" placeholder="Password" required>
        <label for="password-again" class="sr-only">Password Again</label>
        <input type="password" ng-model="password_again" id="password-again" class="form-control" placeholder="Password Again" required>
        <div class="alert alert-warning" role="alert" ng-show="msg">{{ msg }}</div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="doRegister()">Register</button>
    </form>
</div>